body {
  background: url("blurred-background-close-up-coffee-cup-908284.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial;
  color: white;
}
nav {
  text-align: center;
}
ul {
  margin: 0 auto;
  display: block;
  padding: 0px;
  list-style: none;
}
ul li {
  width: 200px;
  height: 40px;
  background-color: black;
  opacity: 0.7;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  margin: 0;
}
footer {
  background-color: black;
  padding: 15px;
  opacity: 0.8;
  position: fixed;
  bottom: 0;
}
article {
  background: black;
  opacity: .8;
  margin: 20px;
  padding:20px;
}
ul li a:hover {
  background-color: green;
}